<!DOCTYPE html>
<html>    
    
    <%- include("./head") %>

    <body>
        <header>Database Navigator</header>

        <article class="div">
            <p>Navigation Menu</p>
            <table id="database_table">
                <tr>
                    <th>Databases</th>
                </tr>
                <% if (databases.length > 0) { %>
                    <% databases.forEach(db => { %>
                        <tr class="database">
                            <td class="button">
                                <input type="radio" name="radiobutton" id="db_button" value="<%= db.database %>" />
                                <label for="db_button" class="button" ><%= db.database %></label>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr><td>NO DATABASES</td></tr>
                <% } %>
            </table>
        </article>

        <aside class="div">
            <div class="query">
                <script type="text/javascript">
                    // подання запиту SQL натисканням на 'Enter'
                    function onKeyPressEnter(event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            window.location.href = '?sql=' + document.querySelector('#dbquery').value
                        }
                    }
                </script>
                <input class="query text" type="text" id="dbquery" name="dbquery" placeholder="Enter SQL query here!" onkeydown="onKeyPressEnter(event)" />
                <input class="query submit" type="submit" for="dbquery" onclick="window.location.href='?sql=' + document.querySelector('#dbquery').value" />
            </div>
            <div>
                <% if (result.length > 0) { %>
                    <table class="table">
                        <tr class="table">
                            <% result[0].forEach(header => { %>
                                <th class="table cell">
                                    <%= header.name %>
                                </th>
                            <% }) %>
                        </tr>
                        <% result.forEach(row => {  %>
                            <tr class="table">
                                <% row.forEach(v => { %>
                                    <td class="table cell">
                                        <%= v.value %>
                                    </td>
                                <% }) %>
                            </tr>
                        <% }) %>
                    </table>
                <% } else { %>
                    <table>
                        <tr>
                            <th class="error_message"><%= error %></th>
                        </tr>
                    </table>
                <% } %>

                </table>

            </div>
        </aside>

        <footer>
            <p>Author © Roman Stepaniuk 2021 <a href="http://t.me/rmnstepaniuk" target="_blank">Telegram</a></p>
        </footer>

    </body>
</html>